* {
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: #111;
}

.nabil-top {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    padding: 0 1%;
}

.nabil-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.text-muted {
    color: #6c757d;
}

.nabil-container-list {
    color: white;
}

.nabil-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
}

.nabil-button {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}