* {
    margin: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: #111;
}

.nabil-container {
    margin: 0 2.5vw;
}

.nabil-top {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    padding: 0 1%;
}

.nabil-top h3 {
    letter-spacing: 0.2em;
}

.nabil-top p {
    margin-top: 2.5px;
}

.nabil-top span {
    opacity: 0.5;
    font-style: italic;
    background-color: red;
}

.nabil-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
}

.text-muted {
    color: #6c757d;
}

.nabil-item {
    color: white;
    background-color: #111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    margin: 1vh;
    border-radius: 10px;
}